@import "./styles/css/app.css";

* {
  /* margin: 0; */
  padding: 0fr;
  background-color: #212529;
  font-family: op-regular;
  color: white;
}
main {
  font-family: op-regular;
}
header {
  /* background-color: black; */
  padding: 16px 4vw;
}
